---
layout: layouts/base.njk
section: home
---


<div id="welcome">
 <div class="whoiam">
    <div id="name">Tharathorn Wangth</div>
    <nav class="position nav justify-content-center">
      <a class="nav-link" href="#">Active</a>
      <h4 class="dot">&#8226; </h4>
      <a id="main_link" class="nav-link" href="#">Computer<br> Engineering<br> Student</a>
       <h4 class="dot">&#8226;</h4>
      <a class="nav-link" href="#">Link</a>
    </nav>
 
 </div>

</div>